# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc
DotNet/RenderingEngine/x64/
DotNet/RenderingEngine/Release/
DotNet/RenderingEngine/Debug/*
DotNet/RenderingEngine/.vs
DotNet/RenderingEngine/RenderingEngine.VC.db
*.vcxproj.user
DotNet/RenderingEngine/ipch/*
DotNet/RATSuite.Win64/.vs/*
DotNet/RAT.Core/.vs/*
DotNet/RAT.Core/obj/*
DotNet/RAT.Core/bin/*
DotNet/RAT.Win/bin/*
DotNet/RAT.Win/obj/*
DotNet/RATSuite.Win64/FBXViewer/obj/*
DotNet/RATSuite.Win64/FBXViewer/bin/*
DotNet/RATSuite.Win64/RAT.AvalonDock/obj/*
DotNet/RATSuite.Win64/RAT.AvalonDock/bin/*
*.pdb
